/* navbar.css */

.nav-wrapper {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  animation: slideDown 2s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateX(-50%) translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

/* Navbar chính */
.nav-container {
  position: relative;
  display: flex;
  gap: 15px;
  padding: 6px;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.638);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow:
    0 4px 20px rgba(0, 0, 0, 0.4),
    inset 0 0 10px rgba(255, 255, 255, 0.05);
}

/* Item */
.nav-item {
  display: inline-block;
  padding: 6px 20px;
  border-radius: 999px;
  font-size: 16px;
  color: #cbd5e1;
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: none;
}

/* Hover */
.nav-item:hover {
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

/* Active giống hình */
.nav-item.active {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.222),
    rgba(255, 255, 255, 0.05)
  );
  color: white;

  box-shadow:
    inset 0 1px 2px rgba(255, 255, 255, 0.3),
    0 2px 6px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .nav-container {
    gap: 4px;
    padding: 4px;
  }

  .nav-item {
    padding: 5px 12px;
    font-size: 13px;
  }
}
